# This is an example config file for the MoonpieBot that contains all
# environment variables that the bot uses

# You can either set the variables yourself or copy this file, rename it from
# `.env.example` to `.env` and edit it with your own values since this is just
# an example to show how it should look

# ------------------------------------------------------------------------------
# TWITCH (update with your own twitch account, channel and token!)
# ------------------------------------------------------------------------------
# > The name of the twitch account that should be imitated
MOONPIE_CONFIG_TWITCH_NAME=moonpiebot
# > An OAuth token (get it from: https://twitchapps.com/tmi/)
MOONPIE_CONFIG_TWITCH_OAUTH_TOKEN=oauth:abcdefghijklmnop
# > A with a space separated list of all the channels the bot should be active
MOONPIE_CONFIG_TWITCH_CHANNELS=moonpiechannel anothermoonpiechannel

# ------------------------------------------------------------------------------
# LOGGGING (does not need to be changed)
# ------------------------------------------------------------------------------
# > The directory of the log files
MOONPIE_CONFIG_DIR_LOGS=./logs
# > The log level of the log messages that are printed to console or written to
#   file (supported values are: error, warn, debug, info)
MOONPIE_CONFIG_CONSOLE_LOG_LEVEL=info
MOONPIE_CONFIG_FILE_LOG_LEVEL=debug

# ------------------------------------------------------------------------------
# DATABASE (does not need to be changed)
# ------------------------------------------------------------------------------
# > The file path of the database that contains the persistent data
MOONPIE_CONFIG_DB_FILEPATH=./database.db

# ------------------------------------------------------------------------------
# OSU (change to enable)
# ------------------------------------------------------------------------------
# > The osu client ID and secret to use the osu api v2
#   To get them go to your account settings, Click 'New OAuth application'
#   and add a custom name and URL (https://osu.ppy.sh/home/account/edit#oauth)
#   After doing that you can copy the client ID and client secret
#MOONPIE_CONFIG_OSU_CLIENT_ID=1234
#MOONPIE_CONFIG_OSU_CLIENT_SECRET=dadasfsafsafdsadffasfsafasfa
# > The default osu account ID for !rp and other commands
#MOONPIE_CONFIG_OSU_DEFAULT_ID=1185432
# > Automatically recognize beatmaps (keep it off when you have alternatives)
#MOONPIE_CONFIG_OSU_RECOGNIZE_MAPS=ON
