{
    "extends": "@istanbuljs/nyc-config-typescript",
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "require": ["ts-node/register"],
    "temp-dir": "./tmp/.nyc_output",
    "report-dir": "./tmp/.test-coverage",
    "sourceMap": true,
    "all": true,
    "lines": 10,
    "TODO_LATER_lines": 90,
    "TODO_LATER_statements": 90,
    "TODO_LATER_functions": 90,
    "TODO_LATER_branches": 90,
    "check-coverage": true
}
